<!doctype html>
<html>
<head>
	
	<title>terrible nfts</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>

	<!--  add more meta stuff here maybe  -->

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
</head>
<body>
	<div id="container">
		{% include menu.html %}
		{{ content }}
	</div>
</body>
</html>